.SignUpContainer {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #f85032, #e73827);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .SignUpTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .SignUpForm {
    display: flex;
    flex-direction: column;
  }
  
  .FormGroup {
    margin-bottom: 20px;
  }
  
  .Label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .Input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
    background-color: #fff;
    color: #333;
  }
  
  .Input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .Select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
    background-color: #fff;
    color: #333;
  }
  
  .Select:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .ButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .SubmitButton {
    padding: 12px 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .SubmitButton:hover {
    background-color: #0056b3;
  }
  
  .ResetButton {
    padding: 12px 24px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .ResetButton:hover {
    background-color: #999;
  }
  